$white: #ffffff;
$marshland: #020201;
$cardinal: #cc1a26;
$zest: #e4862a;
$pickled-bean: #6b4328;
$silver: #bdbdbd;
$hemp: #917979;
$deep-sea-green: #0d4f5c;
$goldenrod: #fcd66c;
$picton-blue: #42a3ef;

// MEDIANT CUT

$my-pink: #d49f7f;
$night-rider: #231712;
$mule-fawn: #8a4630;
$mantle: #8f9894;
$lynch: #5e7b95;

// MATERIAL DESIGN

$muddy-waters: #be855f;
$hoki: #5d7a95;
$cardinal-dark: #bf1e23;
$emperor: #555454;
$tan: #cead8c;